
<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('produitsAdmin') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('categoriesAdmin') }}">Catégories produits</a>
            </li>
        </ul>
    </div>
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUtilisateurs') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('adminCommandes') }}">Commandes</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('pages') }}">Pages</a>
            </li>
            <li>
                <a href="{{ path('adminPages_softDel') }}">Poubeille des pages </a>
            </li>

        </ul>
    </div>
</div>